#place in /etc/systemd/system/
Description=Monitor_temperature_in_coldbox

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/home/pi/coldboxwatcher/coldboxwatcher.py
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target

# run the following
# sudo systemctl daemon-reload
# sudo systemctl enable coldboxwatcher
# sudo systemctl start coldboxwatcher
# systemctl status